if [ "$(command -v eza)" ]; then
	alias ls="eza --hyperlink"
	alias l="eza --hyperlink -1"
	alias la="eza --hyperlink -al"
fi

if [ "$(command -v rg)" ]; then
    alias rg="rg --hyperlink-format=kitty" #adds hyperlinks for kitty 
fi
if [[ "$(command -v bat)" ]]; then
	alias cat="bat -pp" #makes plain and removes paging
	alias catp="bat --plain" #makes plain and removes paging
fi

if [ "$(command -v open)" ]; then
    alias ofd='open -R "${PWD}"' # open finder
fi

if [ "$(command -v git)" ]; then
    alias g='git'
    alias gst='git status'
    alias ga='git add'
    alias gaa='git add --all'
    alias gcmsg='git commit --message'
    alias gd='git diff'
    alias gdca='git diff --cached'
    alias gdcw='git diff --cached --word-diff'
    alias gds='git diff --staged'
    alias gdw='git diff --word-diff'
    alias gc='git commit -v'
fi
